* {
  box-sizing: border-box
}
*:after,
*.before {
  box-sizing: border-box
}

body, html, article {
  box-sizing: border-box;
  background-color:  rgb(249, 247, 238);
  
}

a, a:visited {
  text-decoration: none;
  color:#549fb8
}

img {
  height: 240px;
}

.centering{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

